<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_marketing_index_path,
             text: t("admin.pages.button.previous_page_navigation")
           } %>
<header>
  <h1><%= t(".pages") %></h1>
</header>

<div class="main_container">
  <table class="listing">
    <thead>
      <tr>
        <th><%= t(".page_name") %></th>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% if @pages.present? %>
      <% @pages.each do |page| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to page.title, edit_admin_page_path(page) %></td>
        <td><%= link_to t(".delete"), admin_page_path(page), :confirm => t('admin.index.confirm'), method: :delete %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= small_button new_admin_page_path,
        text: t("admin.pages.button.create_page"),
        image: 'admin/icons/plus_16.png',
        title: "create_page",
        class: "round_icon" %>
</div>
