<%= view_header back_to: admin_marketing_index_path %>

<header>
  <h1><%= t(".title") %></h1>
</header>

<div class="main_container">
  <p>
    <%= form_tag admin_store_themes_path do |f| %>
      <%= submit_tag "Novo tema para minha loja", id: "new_theme" %> 
    <% end %>
  </p>

  <div class="themes">
    <% @themes.each do |theme| %>
      <div class="theme theme_item <%= "current" if current_theme(theme) %>" title="<%= theme.path %>">
        <div class="image">
          <%= image_tag "/themes/#{theme.path}/preview.png" %>
        </div>

        <div class="details">
          <div class="title">
            <%= theme.name %>
            <%= "(#{t(".current")})" if current_theme(theme) %>
          </div>

          <% unless current_theme(theme) %>
            <div class="">
              <%= small_button t(".select_theme_button"),
                admin_store_theme_path(theme),
                method: :put,
                title: "select_theme" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <br />

</div>
