<%= view_header back_to: admin_marketing_index_path %>

<header>
  <h1><%= t(".title") %></h1>
</header>

<div class="main_container">
  <p>
    <%= form_tag admin_store_themes_path do |f| %>
      <%= submit_tag "Novo tema para minha loja", id: "new_theme" %>
    <% end %>
  </p>
</div>

<div class="main_container">

  <div class="themes">
    <% themes_row_counter = 1 %>
    <% @themes.each do |theme| %>
      <% if themes_row_counter == 1 %>
        <div class="row">
      <% end %>


      <div class="theme theme_item theme_<%= theme.id %> <%= "current" if current_theme(theme) %>" title="<%= theme.path %>">
        <div class="image">
          <%= image_tag "/themes/#{theme.path}/preview.png" %>
        </div>

        <div class="details">
          <div class="title">
            <%= theme.name %>
            <% if current_theme(theme) %>
              <br />
              <%= "(#{t(".current")})" %>
            <% elsif session[:preview_theme_id] == theme.id %>
              <br />
              (editando)
            <% end %>
          </div>

          <% unless current_theme(theme) %>
            <div class="">
              <%= small_button "Usar na loja",
                admin_store_theme_path(theme),
                method: :put,
                title: "select_theme" %>
            </div>
          <% end %>

          <% if theme.editable? %>
            <div class="">
              <%= link_to "Editar tema",
                admin_theme_editor_path(theme),
                target: "_blank",
                class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>

      <% if themes_row_counter == 4 %>
        </div>
      <% end %>

      <% themes_row_counter += 1 %>
      <% themes_row_counter = 1 if themes_row_counter > 4 %>
    <% end %>
  </div>

  <br />

</div>
