{{#if subtotal}}
<table class="listing carts">
  <tbody>
    {{#each controller}}
      <tr>
        <td>{{inventoryItem.name}}</td>
        <td>R$ {{money price}}</td>
        <td>
          <a href="javascript: void()" class='delete' {{action 'deleteItem' this}}>
            {{img 'delete' width='16' height='16'}}
          </a>
        </td>
      </tr>
    {{/each}}

    {{#unless subtotal}}
      <tr class="">
        <td colspan="2">Sem items no carrinho de compras</td>
      </tr>
    {{/unless}}
  </tbody>
</table>
{{else}}
  Sem itens no pedido.
{{/if}}
