<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_settings_path,
             text: t("back")
           } %>

<header class="continuous_bottom">
  <h1>Informações de contato</h1>
</header>

<div class="main_container">

  <%= simple_form_for [:admin, @company], url: admin_company_contact_path do |f| %>

  <div class="column_pane_half left">
    <div class="section">
      <h2>Endereço</h2>
      <%= f.simple_fields_for :address do |address| %>
        <%= address.input :address_1, as: 'string', wrapper_html: { class: 'input_with_label' } %>
        <%= address.input :number, wrapper_html: { class: 'input_without_label smaller' } %>
        <%= address.input :address_2, as: 'string' %>
        <%= address.input :neighborhood, as: 'string' %>
        <%= address.input :zipcode, as: 'string' %>
        <%= address.input :city, as: 'string' %>
        <%= address.input :state, collection: Geography::BrazilianStates.states %>
        <%= address.input :country, as: 'string', input_html: { value: "Brasil", disabled: "disabled" } %>
      <% end %>
    </div>
  </div>

  <div class="column_pane_half right">
    <div class="section">
      <h2>Contato</h2>
      <%= f.simple_fields_for :contact do |contact| %>
        <%= contact.input :phone_1, as: 'string', label: t("activerecord.attributes.contact.phone_1") %>
        <%= contact.input :phone_2, as: 'string', label: t("activerecord.attributes.contact.phone_2")%>
        <%= contact.input :email, label: t("activerecord.attributes.contact.email") %>
      <% end %>
    </div>
  </div>

  <%= f.submit id: :submit %>

  <% end # form %>
</div>
