<%= view_header(back_to: admin_settings_path) %>

<header class="continuous_bottom">
  <h1>Informações de contato</h1>
</header>

<div class="main_container">

  <%= simple_form_for([:admin, @company], url: admin_company_contact_path) do |f| %>

  <div class="column_pane_half left">
    <div class="section">
      <h2>Endereço</h2>
      <%= f.simple_fields_for :address do |address| %>
        <%= render partial: "shared/address_form", locals: { address: address } %>
      <% end %>
    </div>
  </div>

  <div class="column_pane_half right">
    <div class="section">
      <h2>Contato</h2>
      <%= f.simple_fields_for :contact do |contact| %>
        <%= render partial: "shared/contact_form", locals: { contact: contact } %>
      <% end %>
    </div>
  </div>

  <%= f.submit id: :submit %>

  <% end # form %>
</div>
