<%= render "layouts/admin/nav_history" %>

<header>
  <h1><%= t('.title') %></h1>
</header>

<div class="main_container">
  <p>
    <%= t('.intro') %>
  </p>

  <% if @taxonomies.empty? %>
    <p>
      <%= t('.first_instructions') %>
    </p>
  <% end %>

  <div class="js_tree_diagrams tree_diagrams">
    <div class="js_tree_body" data-create-url="<%= admin_taxonomies_url %>">

      <div class="greatfather has_children">
        <div class="node js_node greatfather_node">
          <div class="box"><%= t('.greatfather_node') %></div>
        </div>

        <%= render_taxonomies(@taxonomies) %>


        <div class="node js_node" data-node-id="">
          <% # the node itself %>
          <div class="box name">
            <%= link_to image_tag("admin/icons/plus_16.png"), "", id: "show_new_node_form" %>
          </div>

          <% # form for new node %>
          <%= render "new_node_form", taxonomy: @taxonomy, node: nil %>
        </div>
      </div>
    </div>
  </div>

  <% unless @taxonomies.empty? %>
    <%= simple_format t('.normal_instructions') %>
  <% end %>
</div>
