<div class="product">

  <div class="title">
    <h2><%= @product.inventory_item.name %></h2>
  </div>

  <div class="merchandising">
    <%= @product.inventory_item.merchandising %>
  </div>

  <%= image_tag @product.inventory_item.images.first.image.url(:medium), class:
      "image" unless @product.inventory_item.images.blank? %>

  <div class="description">
    <%= @product.inventory_item.description %>
  </div>

  <div class="price">
   <%= @product.inventory_item.price %>
  </div>
</div>

<%= link_to "Comprar", store_cart_items_path(id: @product.id), method: :post %>
