<div class="product_details">
  <div class="product">
    <div class="title">
      <h1><%= @product.name %></h1>
    </div>

    <div class="merchandising">
      <h3><%= @product.merchandising %></h3>
    </div>
    <% unless @product.images.blank? %>
      <div class="images">
        <div class="cover">
          <%= link_to(image_tag(@product.images.first.image.url(:cover_big), class: "image"), @product.images.first.image.url(:natural), class: "fancybox", rel: "product_images_group") %>
        </div>
        <% if @product.images.count > 1 %>
          <div class="small_images">

            <% @product.images.each do |image| %>
              <% next if image.cover? %>
              <%= link_to(image_tag(image.image.url(:thumb), class: "image"),
                          image.image.url(:natural),
                          class: "fancybox",
                          rel: "product_images_group") %>
            <% end %>

          </div>
        <% end %>
      </div>
    <% end %>

    <div class="text">
      <div class="description">
        <%= @product.description %>
      </div>

      <div class="price">
        <%= t(".price_merchan") + @product.price unless @product.price.blank? %>
      </div>

      <%= link_to t(".add_to_cart_link"),
        cart_items_path(id: params[:id]),
        method: :post,
        class: "button",
        id: "add_to_cart" %>
    </div>
  </div>
</div>
