<div class="shipping_configuration">
  <div class="column description">
    <div class="shipping_label">
      <%= t(".shipping") %>
    </div>
    <div class="options" data-view="cartView">
      <div class="js_service_selection" data-path="<%= cart_shipping_cost_path %>">
        <input
          type="radio"
          name="type"
          value="pac"
          id="type_pac"
          <%= raw 'checked="checked"' if @cart.shipping_type == "pac" %>
          />
          <%= t(".service_type.correios.normal") %>
        &nbsp;
        <input
          type="radio"
          name="type"
          value="sedex"
          <%= raw 'checked="checked"' if @cart.shipping_type == "sedex" %>
          />
          <%= t(".service_type.correios.sedex") %>
      </div>
      <div class="zipcode">
        <%= t(".zipcode") %>
        <input
          type="text"
          id="zipcode"
          value="<%= @cart.shipping_zipcode %>"
          name="zipcode"
          data-path="<%= cart_shipping_cost_path %>"/>
      </div>
    </div>
  </div>

  <div class="column summary">
    <span name="zipcode_cost"><%= @cart.shipping_price %></span>
    <br />
    <%= t(".ships_in") %>
    <span name="zipcode_days"><%= @cart.shipping_days %></span>
    <%= t(".working_days") %>
  </div>
</div>