<div class="cart">
  <div class="columns_header">
    <div class="column description">
      Item
    </div>

    <div class="column quantity">
      Quantidade
    </div>

    <div class="column total_price">
      Subtotal
    </div>

    <div class="column item_options">
    </div>
  </div>

  <div class="products">
    <% 5.times do |t| %>
    <div class="product">

      <div class="column description">
        <%= link_to "Parafuso", "" %>
      </div>

      <div class="column quantity">
        <input type="text" value="2" />
      </div>

      <div class="column total_price">
        R$ 13,12
      </div>

      <div class="column item_options">
        <%= link_to image_tag("store/buttons/check_no.png"), "" %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="product_total">

    <div class="column description">
      Total de produtos
    </div>

    <div class="column quantity">
    </div>

    <div class="column total_price">
      R$ 113,12
    </div>

    <div class="column item_options">
    </div>
  </div>

  <div class="total">

    <div class="column description">
      Valor do Frete
    </div>

    <div class="column freight_options">
      <div class="freight_type">
        <span class="freight_service pac">
          <input type="radio" name="freight_type" value="pac" class="radio" checked="checked" />
          Encomenda normal PAC
        </span>
        <span class="freight_service sedex">
          <input type="radio" name="freight_type" value="sedex" />
          Sedex
        </span>
      </div>
      <span class="zipcode">
        Digite seu CEP:
        <input type="text" name="cep" value="" maxlength="9" class="text">
        &nbsp;
        <a href="/cart/update" id="update_next_ivte_cart">Calcular</a>
      </span>
    </div>

    <div class="column total_price">
      R$ 13,00
      <br />
      Entrega em 6 dias úteis
    </div>
  </div>

  <div class="actions">
    <div class="line">
      <div class="action_link">
        <%= link_to "Continuar comprando", store_path(@company.handle) %>
      </div>
      <div class="action_link">
        <%= link_to "Atualizar carrinho", "#" %>
      </div>
    </div>

    <div class="line">
      <div class="checkout">
        <%= link_to "", confirm_informations_store_checkout_path, id: "checkout_button" %>
      </div>
    </div>
  </div>
</div>
