<h1>Carrinho de compras</h1>
<%= simple_form_for :cart, url: cart_path, html: { method: :put } do |form| %>

  <div class="cart">
    <div class="cart_table">
      <div class="columns_header">
        <div class="column description">
          <%= t(".header.column.item") %>
        </div>

        <div class="column quantity">
          <%= t(".header.column.quantity") %>
        </div>

        <div class="column total_price">
          <%= t(".header.column.total_price") %>
        </div>

        <div class="column item_options">
        </div>
      </div>

      <div class="products">
        <% @cart_items.each_with_index do |item, index| %>
        <div class="product order_item_<%= item.id %>">
          <div class="column description">
            <%= link_to item.name, product_path(id: item.entry_id) %>
          </div>

          <div class="column quantity">
            <input type="text" value="<%= item.quantity %>" class="id_<%= item.id %>" name="<%= "cart[item_quantities][#{item.id}]" %>" />
          </div>

          <div class="column total_price">
            <%= item.price %>
          </div>

          <div class="column item_options">
            <%= link_to image_tag("store/buttons/check_no.png"),
                  cart_items_path(id: item.id),
                  method: :delete,
                  name: "remove_order_item" %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="items_total">
        <div class="column description">
          <%= t(".column.items_total") %>
        </div>

        <div class="column quantity">
        </div>

        <div class="column total_price">
          <%= @cart.total %>
        </div>

        <div class="column options">
        </div>
      </div>

      <% if @shipping_calculation_enabled %>
        <%= render "store/cart/shipping_calculation" %>
      <% else %>
        <p class="shipping_disabled">
          <%= t(".shipping_disabled_message") %>
        </p>
      <% end %>
    </div>

    <div class="actions">
      <div class="line">
        <div class="action_link">
          <%= link_to "Continuar comprando", root_path %>
        </div>
        <div class="action_link">
          <%= form.submit "Atualizar carrinho", id: "update_cart" %>
        </div>
      </div>

      <% if @checkout_enabled %>
        <div class="line">
          <div class="checkout">
            <%= link_to "Finalizar compra", checkout_shipping_path, id: "checkout_button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
