<h1>Carrinho de compras</h1>
<%= simple_form_for :cart, url: cart_path, html: { method: :put } do |form| %>

  <div class="cart_page">
    <table class="cart">
      <tr class="columns_header">
        <td class="column description">
          <%= t(".header.column.item") %>
        </td>

        <td class="column quantity">
          <%= t(".header.column.quantity") %>
        </td>

        <td class="column total_price">
          <%= t(".header.column.total_price") %>
        </td>

        <td class="column item_options">
        </td>
      </tr>

      <tbody class="products">
        <% @cart_items.each_with_index do |item, index| %>
        <tr class="product order_item_<%= item.id %>">
          <td class="column description">
            <%= link_to item.name, product_path(id: item.entry_id) %>
          </td>

          <td class="column quantity">
            <input type="text" value="<%= item.quantity %>" class="id_<%= item.id %>" name="<%= "cart[item_quantities][#{item.id}]" %>" />
          </td>

          <td class="column total_price">
            <%= item.price %>
          </td>

          <td class="column item_options">
            <%= link_to image_tag("store/buttons/check_no.png"),
                  cart_items_path(id: item.id),
                  method: :delete,
                  name: "remove_order_item" %>
          </td>
        </tr>
        <% end %>

        <tr class="items_total">
          <td class="column description">
            <%= t(".column.items_total") %>
          </td>

          <td class="column quantity">
          </td>

          <td class="column total_price">
            <%= @cart.total %>
          </td>

          <td class="column options">
          </td>
        </tr>

      </tbody>
      <tfoot>

        <tr>
          <td colspan="4">
            <% if @shipping_calculation_enabled %>
              <%= render "store/cart/shipping_calculation" %>
            <% else %>
              <p class="shipping_disabled">
                <%= t(".shipping_disabled_message") %>
              </p>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="actions">
      <div class="line">
        <div class="action_link">
          <%= link_to "Continuar comprando", root_path %>
        </div>
        <div class="action_link">
          <%= form.submit "Atualizar carrinho", id: "update_cart" %>
        </div>
      </div>

      <% if @checkout_enabled %>
        <div class="line">
          <div class="checkout">
            <%= link_to "Finalizar compra",
              checkout_shipping_path,
              id: "checkout_button",
              class: "btn positive_action_btn"
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
