<%= view_header(back_to: admin_customer_path(@customer)) %>

<header>
  <div class="inline_title">
    <h1><%= t('admin.customers.edit.title') %></h1>
  </div>
  <p>
    Editando <%= @customer.first_name %> <%= @customer.last_name %>
  </p>
</header>

<div class="main_container">
  <div class="form">
    <%= render 'form' %>
  </div>
</div>
