<%= render "layouts/admin/nav_history" %>

<header>
  <h1><%= t('admin.customers.index.title') %></h1>
</header>

<div class="main_container">
  <table class="listing">
    <thead>
      <tr>
        <th><%= t('admin.customers.index.name') %></th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <%= link_to "#{customer.first_name} #{customer.last_name}",
              admin_customer_path(customer) %>
          </td>
          <td>
            <%= customer.email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <div>
    <%= paginate @customers %>
  </div>
</div>
