<%= render "layouts/admin/nav_history" %>

<header>
  <h1><%= t('admin.customers.index.title') %></h1>
</header>

<div class="main_container">
  <table class="listing">
    <thead>
      <tr>
        <th><%= t('admin.customers.index.name') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @customers %>
        <% @customers.each do |customer| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td>
              <%= link_to customer.name, admin_customer_path(customer) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br />
  <div>
    <%= paginate @customers %>
    <%= small_button new_admin_customer_path, text: t('admin.customers.index.new_customer'), image: 'admin/icons/plus_16.png', class: "round_icon.customers" %>
  </div>
</div>
