<%= view_header %>

<header>
  <h1><%= t('admin.customers.index.title') %></h1>
</header>

<div class="main_container">
  <div class="index_header">
    <div class="buttons">
      <%= small_button "Novo cliente",
        new_admin_customer_path,
        image: 'admin/icons/plus_16.png',
        id: "add_item"
      %>
    </div>
  </div>

  <table class="listing">
    <thead>
      <tr>
        <th><%= t('admin.customers.index.name') %></th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <%= link_to "#{customer.first_name} #{customer.last_name}",
              admin_customer_path(customer) %>
          </td>
          <td>
            <%= customer.email %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <div>
    <%= paginate @customers %>
  </div>
</div>
