<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_customers_path
           } %>

<header>
  <h1><%= "John Etc" %></h1>
</header>

<div class="main_container">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Descrição:</b>
    este é um modelo de descrição.
  </p>

  <%= small_button new_admin_customer_receivable_path(1), text: "Nova dívida" %>
  <%= small_button admin_customer_receivables_path(1), text: "Ver dívidas deste cliente" %>
  <%= small_button edit_admin_customer_path(1), text: "Editar" %>
</div>
