<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_customers_path,
             text: t('admin.customers.show.back_to_stock')
           } %>

<header>
  <h1><%= @customer.name %></h1>
</header>

<div class="main_container">
  <p id="notice"><%= notice %></p>

  <p>
    <b><%= t('admin.customers.show.name') %></b>
    <%= @customer.name %>
  </p>

  <p>
    <b><%= t('admin.customers.show.description') %></b>
    <%= @customer.description %>
  </p>

  <%= small_button edit_admin_customer_path(@customer), text: t('admin.customers.show.edit') %>
  <%= small_button admin_customer_path(@customer), text: t('admin.customers.show.delete'), method: :delete %>
  <%= small_button admin_customer_account_receivables_path(@customer), text: t('admin.customers.show.accounts_receivable') %>
  <%= small_button new_admin_customer_account_receivable_path(@customer), text: t('admin.customers.show.new_debt') %>
</div>
<div class="main_container section">

  <div class="thumbs_gallery">
    <h2><%= t('admin.customers.show.last_purchased_products') %></h2>
    <% 2.times do |m| %>
      <% 5.times do |t| %>
        <% t += 1 %>
        <div class="box image">
          <%= image_tag "store/temp/product_#{t}_170x127.jpg", width: 60 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


