<div class="order_card <%= order.summary %>" id="order_card_<%= order.id%>">
  <div class="card_containner">
    <div class="order_id">
      <div class="label">Número do pedido</div>
      <div class="value">
        <%= order.id %>
      </div>
    </div>

    <div class="payment_status <%= :paid if order.paid? %>">
      <%= t(".payment_statuses.#{order.current_payment_status}") %>
    </div>

    <div class="shipping_status <%= order.summary %>">
      <%= raw t(".shipping_summary.#{order.summary}") %>
    </div>

    <div class="details">
      <div class="total">
        <%= order.total %>
      </div>
      <div class="purchase_date">
        <%= order.purchase_date %>
      </div>
      <div class="purchase_date">
        <%= order.items_quantity == 1 ? "1 item" : "#{order.items_quantity} itens" %>
      </div>

      <div class="details_button">
        <%= small_button admin_order_path(order),
              text: "Ver detalhes",
              class: "round_icon" %>
      </div>
    </div>

  </div>
</div>
