<%= view_header back_to: admin_orders_path %>

<header>
  <h1><%= t('.title') %><%= @order.number %></h1>
</header>

<div class="main_container">

  <%= simple_form_for @order, url: admin_order_path, method: :put do |f| %>

    <table class="properties">
      <tbody>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= t(".summary") %>:<br /></td>
          <td class="summary <%= @order.model.summary %>">
            <%= @order.summary_long_text %>
          </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= t(".created_at") %>:<br /></td>
          <td>
            <%= @order.created_at %>
          </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= t(".payment_status") %>:<br /></td>
          <td class="payment_status <%= @order.current_payment_status %>">
            <%= @order.payment_status_with_datetime %>
          </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= t(".shipping_details") %>:<br /></td>
          <td>
            <%= @order.shipping_details.complete_details %>
          </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <td></td>
          <td>
            <%= t('.package') %>:
            <%= @order.shipping_details.package_width %>cm,
            <%= @order.shipping_details.package_length %>cm,
            <%= @order.shipping_details.package_height %>cm,
            <%= @order.shipping_details.package_weight %>kg
            <%= t('.package_legend') %>
          </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= t(".shipping_address") %>:<br /></td>
          <td>
            <%= @order.shipping_address.complete_address %>
          </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= t(".total_amount") %>:<br /></td>
          <td> <%= @order.total %> (<%= t(".excluding_shipping") %>) </td>
        </tr>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= t(".client") %>:</td>
          <td>
            <%= @order.customer.full_name %>,
            <%= @order.customer.email %>
          </td>
        </tr>
      </tbody>
    </table>

    <br />
    <h2>Items no pedido</h2>
    <table class="listing">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço unitário</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :items do |item_form| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td> <%= item_form.object.id %> </td>
          <td> <%= item_form.object.name %> </td>
          <td> <%= item_form.object.price %> </td>
          <td class="options">
            <%= item_form.input :status,
              collection: statuses_collection,
              selected: item_form.object.model.status,
              include_blank: false %>
          </td>
        </tr>
        <% end %>
      </tbody>

    </table>

    <p>
      <%= f.submit id: "submit" %>
    </p>
  <% end %>
</div>
