<h2>Gerenciamento</h2>
<ul>
  <li><%= link_to "Estoque", admin_inventory_goods_path %></li>
  <li><%= link_to "Colaboradores", "/" %></li>
</ul>
<h2>Loja</h2>
<ul>
  <li><%= link_to "Produtos", "/" %></li>
  <li><%= link_to "Pedidos", "/" %></li>
</ul>

<h2>Mais</h2>
<ul>
  <li><%= link_to "Sair", "/" %></li>
</ul>
