<h2>Gerenciamento</h2>
<ul>
  <li <%= current_nav_namespace("inventory") %>>
    <%= link_to "Estoque", admin_inventory_items_path %>
  </li>

  <li <%= current_nav_namespace("orders") %>>
    <%= link_to "Pedidos", admin_orders_path %>
  </li>

  <!--
  <li <%= current_nav_namespace("customers") %>>
    <%= link_to "Clientes", admin_customers_path %>
  </li>
  <li><%= link_to "Financeiro", admin_dashboard_path %></li>
  -->
  <li <%= current_nav_namespace("taxonomies") %>>
    <%= link_to "Categorias", admin_taxonomies_path %>
  </li>
  <li <%= current_nav_namespace("users") %>>
    <%= link_to "Colaboradores", admin_users_path %>
  </li>
  <li <%= current_nav_namespace("settings") %>>
    <%= link_to "Configurações", admin_settings_path %>
  </li>
</ul>
<!--
<h2>Loja</h2>
<ul>
  <li <%= current_nav_namespace("store") %>>
    <%= link_to "Produtos", admin_store_dashboard_path %>
  </li>
  <li><%= link_to "Pedidos", admin_dashboard_path %></li>
</ul>
-->

<h2>Mais</h2>
<ul>
  <li><%= link_to "Sair", destroy_admin_user_session_path, method: :delete %></li>
</ul>
