<ul>
  <li <%= current_nav_namespace("dashboard") %>>
    <%= link_to t("admin.navigation.dashboard"), admin_dashboard_path %>
  </li>
</ul>

<h2><%= t("admin.navigation.management") %></h2>

<ul>
  <li <%= current_nav_namespace("inventory") %>>
    <%= link_to t("admin.navigation.inventory"),
      admin_inventory_items_path,
      class: "inventory" %>
  </li>
  <li <%= current_nav_namespace("orders") %>>
    <%= link_to t("admin.navigation.orders"),
      admin_orders_path,
      class: "orders" %>
  </li>
  <li <%= current_nav_namespace("marketing") %>>
    <%= link_to t("admin.navigation.marketing"),
      admin_marketing_index_path,
      class: "marketing" %>
  </li>
  <li <%= current_nav_namespace("people") %>>
    <%= link_to t("admin.navigation.people"),
      admin_people_path,
      class: "people" %>
  </li>
  <li <%= current_nav_namespace("reports") %>>
    <%= link_to t("admin.navigation.reports"),
      admin_reports_path,
      class: "reports" %>
  </li>
  <li <%= current_nav_namespace("settings") %>>
    <%= link_to t("admin.navigation.settings"),
      admin_settings_path,
      class: "settings", id: "settings_link" %>
  </li>
</ul>

<% Feature.alpha(handle: @current_company.handle, allow_company: ["acpresentes", "basajoias"]) do %>

  <h2><%= t("admin.navigation.offline_sales") %></h2>
  <ul>
    <li>
      <%= link_to t("admin.navigation.point_of_sale"),
        '/pv',
        id: "go_to_point_of_sale" %>
      </li>
  </ul>

<% end %>

<br />
<ul>
  <li><%= link_to t("admin.navigation.sign_out"), destroy_admin_user_session_path, method: :delete, id: "sign_out" %></li>
</ul>
