<div class="form_container">
  <% # simple_form_for([:admin, @entry]) do |f| %>
  <% if @entry.id.present? %>
    <% url = admin_inventory_item_entry_path(@item, @entry) %>
  <% else %>
    <% url = admin_inventory_item_entries_path(@item) %>
  <% end %>

  <%= simple_form_for(@entry, url: url) do |f| %>
    <% if @entry.errors.any? %>
      <div class="error_explanation">
        <p>
          Não foi possível salvar seus dados.
          Por favor, ajuste os erros abaixo:
        </p>
      </div>
    <% end %>

    <%= f.input :description,
          input_html: { value: @entry.description } %>

    <%= f.input :quantity,
          input_html: { value: @entry.quantity } %>

    <%= f.input :cost_per_unit,
          input_html: { value: @entry.cost_per_unit } %>

    <%= f.input :website_sale,
      label: t("simple_form.labels.inventory_entry.website_sale"),
      wrapper: :checkbox_inline
    %>
    <% if @point_of_sale_enabled %>
      <%= f.input :point_of_sale,
        label: t("simple_form.labels.inventory_entry.point_of_sale"),
        wrapper: :checkbox_inline %>
    <% end %>

    <br />
    <br />

    <% if @entry.persisted? %>
      <%= f.submit "Salvar", id: "submit_entry" %>
    <% else %>
      <%= f.submit "Cadastrar entrada/lote no estoque", id: "submit_entry" %>
    <% end %>

    ou <%= link_to "cancelar", "javascript: history.back()" %>

  <% end %>
</div>

<div class="entries_summary">
  <% if @entry.persisted? %>
    <div>
      <%= link_to "Excluir esta entrada",
        admin_inventory_item_entry_path(@item, @entry),
        title: "delete_item",
        method: :delete,
        class: "btn red",
        data: {
          confirm: "Você tem certeza que deseja excluir esta entrada?\n\nCom esta ação, você está apagando o registro de uma caixa ou lote desta mercadoria. Só faça isto se você tem certeza do que está fazendo."
        } %>
    </div>
    <br />
  <% end %>

  <% if @last_entries.present? %>
    <h2>Lotes atuais desta mercadoria</h2>
    <ul>
      <% @last_entries.each do |entry| %>
        <li>
          <%= "#{entry.created_at}:" %>
          <%= "#{entry.quantity} unidades no estoque" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
