<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_inventory_item_path(@item),
             text: "Voltar a #{@item.name}"
           } %>

<header>
  <h1>Entradas no estoque: <%= @item.name %></h1>
</header>

<div class="main_container">

  <% if @entries.count > 0 %>
    <table class="listing">
      <thead>
        <tr>
          <th>Entradas</th>
          <th></th>
          <th>Quantidade</th>
          <th>Custo unitário</th>
        </tr>
      </thead>

      <tbody>
      <% @entries.each do |item| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="date"><%= item.created_at %></td>
          <td class="description"><%= item.description %></td>
          <td class="quantity"><%= item.quantity %></td>
          <td class="cost_per_unit"><%= item.cost_per_unit %></td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
        <tr class="total">
          <td colspan="2" class="description"></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>

    </table>
  <% else %>
    <p>
      Não há itens em estoque.
    </p>
  <% end %>

  <br />

  <%= small_button "Adicionar entrada deste item no estoque", new_admin_inventory_item_entry_path,
        image: "admin/icons/plus_16.png" %>
</div>
