<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_inventory_goods_path
           } %>

<header>
  <h1>Estoque: <%= @good.name %></h1>
</header>

<div class="main_container">

  <% if @entries.count > 0 %>
    <table class="listing">
      <thead>
        <tr>
          <th>Entradas</th>
          <th></th>
          <th>Quantidade</th>
          <th>Custo unitário</th>
        </tr>
      </thead>

      <tbody>
      <% @entries.each do |item| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="date"><%= item.created_at %></td>
          <td class="description"><%= item.description %></td>
          <td class="quantity"><%= item.quantity %></td>
          <td class="cost_per_unit"><%= item.cost_per_unit %></td>
        </tr>
      <% end %>
      </tbody>

      <tfoot>
        <tr class="total">
          <td colspan="2" class="description">Resumo</td>
          <td class="quantity"><%= @entries.last.total_quantity %></td>
          <td class="cost_per_unit"><%= @entries.last.total_cost %></td>
        </tr>
      </tfoot>

    </table>
  <% else %>
    <p>
      Não há itens em estoque.</p>
  <% end %>

  <br />

  <%= small_button new_admin_inventory_good_entry_path, 
        :text => "Adicionar entrada no estoque",
        :image => 'admin/icons/plus_16.png' %>
</div>
