<div class="products_list">
  <% @items.each_with_index do |item, index| %>
    <div class="product product_<%= index %>">
      <%= link_to product_path(id: item.entry_for_sale.id) do %>
        <%= image_tag item.images.first.image.url(:cover),
            class: "image image_#{ index }" unless item.images.blank? %>

        <div class="text">
          <div class="title">
            <%= link_to item.name,
                product_path(id: item.entry_for_sale.id) %>
          </div>
          <div class="price">
            <%= item.price %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>