<div class="products_list">
  <% @items.each_with_index do |item, index| %>
    <div class="product product_<%= index %>">
      <%= link_to product_path(id: item.entry_for_sale.id) do %>
        <div class="image">
          <% image = item.images.cover.first %>
          <%= image_tag(image.image.url(:cover_standard),
                        with: 170,
              class: "image_#{ image.id }") unless image.blank? %>
        </div>

        <div class="text">
          <div class="title">
            <%= link_to item.name,
              product_path(id: item.entry_for_sale.id),
              id: "product_show_page_#{item.id}" %>
          </div>
          <div class="price">
            <%= item.price %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
