<% # FIXME is this still used? %>

<div class="user_and_cart_status">
  <div class="status_container">
    <div class="user_status">
      <% if customer_signed_in? %>
        Olá, <%= current_customer.first_name %>.
        <%= link_to "Sair", destroy_customer_session_path, method: :delete %>.
      <% else %>
        Olá. Já é cadastrado?
        <%= link_to "Login", new_customer_session_path %>.
      <% end %>
    </div>

    <div class="cart_status">
      <% if @cart_items_quantity == 1 %>
        <%= link_to "Você possui 1 item no carrinho.", cart_path %>
      <% elsif @cart_items_quantity > 1 %>
        <%= link_to "Você possui #{@cart_items_quantity} itens no carrinho.", cart_path %>
      <% else %>
        Seu carrinho está vazio.
      <% end %>
    </div>
  </div>
</div>
