<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_inventory_good_path(@good),
             text: "Voltar a #{@good.name}"
           } %>

<header>
  <h1>Gerenciar imagens</h1>
  <p>Você está vendo imagens do item <%= @good.name %></p>
</header>

<div class="main_container">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <div>
    <p>
      Envia uma nova imagem para este item. As imagens aparecem automaticamente
      na sua loja virtual.
    </p>
    <%= simple_form_for([:admin,:inventory,@good]) do |f| %>
      <%= f.simple_fields_for :good_images, @good.good_images.last do |image_form| %>
        <%= image_form.file_field :image %>
        <br /><br />
        <%= f.submit  'Enviar arquivos' %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="main_container section">
  <h2>Imagens atuais</h2>

  <div class="thumbs_gallery">
    <% @good.good_images.each do |good_image| %>
      <div class="box image">
        <%= image_tag good_image.image.url(:medium), width: 60 %>
        <div class="cover">Capa</div>
        <div class="delete">
          <%= link_to "Excluir", "whatever" %>
        </div>
      </div>
      <% end %>
  </div>

</div>

