<div class="new_customer_form">
  <div class="input">
    <label for="new_customer_name">Nome:</label>
    {{input name="new_customer_first_name" id="new_customer_first_name"}}
  </div>

  <div class="input">
    <label for="new_customer_name">Sobrenome:</label>
    {{input name="new_customer_last_name" id="new_customer_last_name"}}
  </div>

  <div class="input">
    <label for="new_customer_name">Email:</label>
    {{input name="new_customer_email" id="new_customer_email"}}
  </div>

  <div class="input">
    <label for="new_customer_name">CPF:</label>
    {{input name="new_customer_cpf" id="new_customer_cpf"}}
  </div>

  <div class="input actions">
    <button
      id="submit_customer_creation"
      {{action submitCustomerCreation}}>Criar cliente</button>
    ou
    <a
      href="javascript: void()"
      {{action cancelCustomerCreation target='view'}}>cancelar</a>
  </div>

  <div class="show_search">
  </div>
</div>

<div class="choose_customer">
  {{#if isCustomerDefined}}
    <div class="current_customer">
      {{currentCustomer.firstName}}
      {{currentCustomer.lastName}}
      (<a href="javascript: void()" {{action resetSearch}}>Buscar outro cliente</a>)
    </div>
  {{else}}
    {{view App.CustomerSearchTextField
        valueBinding="searchQuery"
        action="onSearchCommit"
        id="customer_search"
        class="search"
        placeholder="Pesquise: nome do cliente"}}

    {{#if content}}
      <table class="listing search_result customer">
        <tbody>
          {{#each controller}}
          <tr class="even">
            <td>
              <a href="#" {{action "setCartCustomer" this}}>
                {{firstName}} {{lastName}}
              </a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="search_progress">
        {{#if searchQuery}}
          {{#if model.isLoaded}}
            <div class="no_customer_found">
              Nenhum cliente encontrado. Pressione Enter para criar um.
            </div>
          {{else}}
            Buscando...
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}

  <div class="another_customer">
    <a
      href="javascript: void()"
      id="show_customer_form"
      {{action showCustomerForm target="view"}}>Novo cliente</a>
  </div>
</div>
