{{view App.InventoryItemsSearchTextField
    valueBinding="searchQuery"
    action="addItemPressingEnter"
    target=controller
    id="inventory_item_search"
    class="search"
    placeholder="Pesquise pelo nome de um produto"}}

{{#if controller.length}}
<table class="listing inventory_items">
  <tbody>
    {{#each controller}}
      <tr class="even">
        <td>
          <a href="javascript:void()" class="js_inventory_item" {{action "addItem" this}}>
            {{name}}
          </a>
        </td>
        <td class="shortcut_image">
          {{#if isSelected}}
            <span class="enter shortcut_image">enter</span>
            <!-- <span class="keyboard_selector">►</span> -->
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
  {{#if searchQuery}}
    {{#if model.isLoaded}}
      Nenhum resultado encontrado
    {{else}}
      Buscando...
    {{/if}}
  {{/if}}
{{/if}}
