<div class="cart_new cart_status">
  <section class="money">
    <div class="subtotal">
      <label>Subtotal:</label> R$ {{money subtotal}}
    </div>
    <div class="discount">
      <label>Desconto:</label> R$ 0,00
    </div>
    <div class="total">
      <label>Total:</label> R$ {{money subtotal}}
    </div>
    <div class="total_for_installments">
      <label>A prazo:</label> R$ {{money subtotalForInstallments}}
    </div>
  </section>

  <section class="cart_payment_section">
    {{outlet cartPayment}}
  </section>

  <section>
    {{#if isOrderReadyToBePlaced}}
      <a href="javascript: void()" class="btn place_order_button enabled" title="place_order" {{action "placeOrder"}}>Finalizar pedido</a>
    {{else}}
      <a href="javascript: void(0)" class="btn place_order_button disabled" title="place_order">Finalizar pedido</a>
    {{/if}}
  </section>
</div>

<div class="cart_new cart_development">
  <section>
    <div class="item_search"></div>

    {{outlet inventoryItemSearch}}

    <br />
    <br />
    <h2>{{itemsQuantityHeadline}}</h2>

    {{render "items" controller.cartItems controller='cartItems'}}
  </section>

  <section class="cart_customer_section">
    <h2>Cliente</h2>
    {{outlet cartCustomer}}
  </section>

  {{#if isOrderPlaced}}
    <section>
      <div class="order_status order_placed">
        Pedido concluído com sucesso!
      </div>
    </section>
  {{/if}}
</div>
