<ul>
  <li><%= link_to "Principal", root_path, class: "current" %></li>

  <% if @taxonomies.present? %>
    <li><%= link_to "Departamentos", "javascript: void(0)", id: "departments_context_menu_trigger" %>
      <div class="departments_context_menu js_departments_context_menu">
        <%= taxonomies_navigation @taxonomies %>
      </div>
    </li>
  <% end %>

  <li><%= link_to "Carrinho de compras", cart_path %></li>
  <li><%= link_to "Contato", root_path %></li>
</ul>

