<%= view_header back_to: admin_settings_path,
                back_text: t("admin.history_navigation.back.dashboard") %>

<header>
  <h1><%= t ".title" %></h1>
  <p><%= t ".subtitle" %></p>
</header>

<div class="main_container">
  <div class="content_tabs">
    <%= render "tabs" %>

    <div class="tab_body">
      <%= simple_format t(".body") %>

      <%= simple_form_for @gateway, url: wizard_path, method: :put do |f| %>
        <%= f.input :email %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

  <br />
  <br />
  <h2><%= t ".creating_account.title" %></h2>
  <%= simple_format t(".creating_account.body",
                      pagseguro_link: link_to(t('.creating_account.pagseguro_link'), t('.creating_account.pagseguro_link'), target: "_pagseguro"),
                      steps_img: image_tag('admin/instructions/gateways/pagseguro_creating_steps.jpg')
                     )
  %>

</div>
