<%= view_header back_to: admin_settings_path %>

<header>
  <h1><%= t ".title" %></h1>
</header>

<div class="main_container">
  <div class="content_tabs">
    <%= render "tabs" %>
    
    <div class="tab_body">

      <%= simple_format t(".body",
                          pagseguro_link: link_to(
                            "https://pagseguro.uol.com.br/integracao/token-de-seguranca.jhtml",
                            "https://pagseguro.uol.com.br/integracao/token-de-seguranca.jhtml",
                            { class: 'js_another_window' }
                          ),
                          pagseguro_img_token: image_tag('admin/instructions/gateways/pagseguro_token.jpg')
                         ) %>

      <%= simple_form_for @gateway, url: wizard_path, method: :put do |f| %>
        <%= f.input :token, as: :string %>
        <%= f.submit %>
        <%= t "admin.generic.or" %>
        <%= link_to t("admin.generic.back"), previous_wizard_path %>
      <% end %>

    </div>
  </div>
</div>
