<div class="store_sign_up">
  <%= simple_form_for(resource.with_company, as: resource_name, url: registration_path(resource_name), html: { autocomplete: :off }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :name, label: "Seu nome" %>
    <%= f.input :email, label: "Seu email" %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, hint: "Digite sua senha novamente" %>

    <div class="divisor"></div>

    <%= f.fields_for :company do |c| %>
      <%= c.input :name, label: "Nome da sua empresa", hint: "Qual o nome da sua empresa ou loja?", input_html: { id: "company_name" } %>

      <div class="input_store_handle">
        <%= c.input :handle, label: "Escolha o endereço da sua loja", hint: "Apenas letras e números", input_html: { id: "handle" }  %>

        <div class="store_address input">
          http://<span class="handle"></span>.store.com
        </div>
      </div>
    <% end %>
    <div class="submit">
      <%= f.submit "Criar conta", id: "create_account" %>
    </div>
  <% end %>
</div>
