<!DOCTYPE html>
<html>
<head>
  <title>Sign in</title>
  <%= stylesheet_link_tag "mobile_admin/sign_in_manifest", :media => "all" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=320; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=no" />
</head>
<body class="<%= params[:controller].gsub(/\//, "_") %> <%= params[:action] %>">

<div id="global">
  <div class="global_container">
    <div id="main">
        <h1>Olá,</h1>

        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
