<%= output_error_messages(@item) %>

<div class="search">
  <%= item.input :taxonomy_id, as: :hidden %>
  <%= item.simple_fields_for :taxonomy do |t| %>
    <%= t.input :name, as: :string,
      required: false,
      input_html: {
        class: "taxonomy",
        autocomplete: "off",
        data: {
          search_url: admin_api_taxonomies_url,
          result_id: "inventory_item_taxonomy_id",
          link_for_new: "new_taxonomy_link"
        }
      } %>
  <% end %>
  <div class="html_template" id="new_taxonomy_link">
    <%= link_to "Ir à tela de categorias", admin_taxonomies_path %>
  </div>

  <%= item.input :manufacturer_id, as: :hidden %>
  <%= item.simple_fields_for :manufacturer, include_id: false do |m| %>
    <%= m.input :name,
      required: false,
      input_html: {
        class: "manufacturer",
        autocomplete: "off",
        data: {
          search_url: admin_api_manufacturers_url,
          result_id: "inventory_item_manufacturer_id"
        }
      } %>
  <% end %>

  <%= item.input :year, as: :string, input_html: { class: "year" } %>
  <%= item.input :name, input_html: { class: "name" }, required: false %>
</div>

<div class="secondary_fields">
  <%= item.input :supplier_id, collection: @suppliers, input_html: { class: "js_selectize" } %>
  <%= taggable_input :tag_list, item, @current_company.items %>
  <%= item.input :barcode, as: :string, required: false %>
  <%= item.input :reference_number, as: :string, required: false %>

  <%= item.input :description %>

  <% if item.object.new_record? %>
    <%= item.simple_fields_for :images do |image_form| %>
      <%= image_form.input :image,
        as: :file,
        hint: t(".image_upload_hint")
      %>
    <% end %>
  <% end %>

  <%= item.simple_fields_for :prices do |price| %>
    <%= price.input :value,
      as: :string,
      required: false,
      input_html: { value: @item.price } %>
    <%= price.input :for_installments,
      as: :string,
      required: false,
      input_html: { value: @item.price } %>
  <% end %>

  <%= render partial: "custom_field",
    collection: @custom_fields,
    locals: {form: item} %>

  <section>
    <h2>Caixa para frete</h2>
    <p>
      Preencha para vendas online. Deixe em branco se este item não for
      vendido online.
    </p>

    <fieldset class="shipping_box">
      <div class="fields">
        <%= item.simple_fields_for :shipping_box do |s| %>
          <%= s.input :length, as: :string, input_html: { value: @item.shipping_box.length } %>
          <%= s.input :height, as: :string, input_html: { value: @item.shipping_box.height } %>
          <%= s.input :width,  as: :string, input_html: { value: @item.shipping_box.width  } %>
          <%= s.input :weight, as: :string, input_html: { value: @item.shipping_box.weight } %>
        <% end %>
      </div>

      <% Feature.pre_alpha do %>
      <div class="explanations">
        <p class="use_default">
          <input type="checkbox" disabled="disabled" /> Usar tamanho de caixa padrão
        </p>
        <p>
        Ao entrar as medidas da caixa, verificaremos se estas
        são realmente aceitas pelos Correios.
        </p>
      </div>
      <% end %>
    </fieldset>
  </section>

  <% if @show_entry_fields.nil? || @show_entry_fields != false %>
    <% lot_counter = 1 %>
    <section>
      <%= item.simple_fields_for :entries do |entries, index| %>
        <%= render "form_entries", entries: entries, lot_counter: lot_counter %>

        <% lot_counter+= 1 %>
      <% end %>
    </section>

    <div class="js_add_entry">
      <%= small_button "Adicionar lote", "#",
            image: 'admin/icons/plus_16.png',
            class: "js_clone_fieldset",
            data: { fieldset_to_clone: "entry" } %>
    </div>
  <% end %>

</div>

<%= item.submit id: "submit" %>
