<div class="search">
  <%= item.input :taxonomy_id, as: :hidden %>
  <%= item.input :taxonomy, input_html: { class: "taxonomy" } %>
  <%= item.input :manufacturer, input_html: { class: "manufacturer" } %>
  <%= item.input :year, as: :string, input_html: { class: "year" } %>
  <%= item.input :name, input_html: { class: "name" }, required: false %>
</div>

<div class="secondary_fields">
  <%= item.input :description %>
</div>

<%= render "form_entries" %>
