<div class="search">
  <%= item.input :taxonomy_id, as: :hidden %>
  <%= item.simple_fields_for :taxonomy do |t| %>
    <%= t.input :name, as: :string,
      required: false,
      input_html: {
        class: "taxonomy",
        autocomplete: "off",
        data: {
          search_url: admin_api_taxonomies_url,
          result_id: "inventory_item_taxonomy_id"
        }
      } %>
  <% end %>

  <%= item.input :manufacturer_id, as: :hidden %>
  <%= item.simple_fields_for :manufacturer do |m| %>
    <%= m.input :name,
      required: false,
      input_html: {
        class: "manufacturer",
        autocomplete: "off",
        data: {
          search_url: admin_api_manufacturers_url,
          result_id: "inventory_item_manufacturer_id"
        }
      } %>
  <% end %>

  <%= item.input :year, as: :string, input_html: { class: "year" } %>
  <%= item.input :name, input_html: { class: "name" }, required: false %>
</div>

<div class="secondary_fields">
  <%= item.input :description %>
  <%= item.simple_fields_for :prices do |price| %>
    <%= price.input :value, as: :string %>
  <% end %>

  <%= item.simple_fields_for :shipping_box do |s| %>
    <%= s.input :length, as: :string %>
    <%= s.input :height, as: :string %>
    <%= s.input :width, as: :string %>
    <%= s.input :weight, as: :string %>
  <% end %>

  <%= item.simple_fields_for :entries do |entries| %>
    <%= render "form_entries", entries: entries %>
  <% end %>
</div>

<%= item.submit id: "submit" %>
