<%= simple_form_for([:admin, @item]) do |f| %>

  <%= f.input :taxonomy_id, collection: html_select_collection(@company_taxonomies) %>
  <%= f.input :name,
        input_html: { id: "inventory_item_name" } %>

  <%= f.input :description %>

  <%= f.input :merchandising %>

  <%= f.input :reference %>
  <%= f.fields_for :shipping_box do |box| %>
    <h2><%= t ".shipping_box.title" %>     </h2>
    <p> <%= t ".shipping_box.description" %></p>
    <p> <%= t ".shipping_box.tip" %>        </p>

    <p><div class="error_explanation"><%= box.error :max_box_size %></div></p>

    <%= box.input :length, input_html: { type: 'string', value: @item.shipping_box.length } %>
    <%= box.input :width,  input_html: { type: 'string', value: @item.shipping_box.width } %>
    <%= box.input :height, input_html: { type: 'string', value: @item.shipping_box.height } %>
    <%= box.input :weight, input_html: { type: 'string', value: @item.shipping_box.weight } %>

  <% end %>

  <%= f.submit %>
  <%= t("admin.generic.or") %>
  <%= link_to t("admin.generic.cancel"), "javascript: history.back()" %>
<% end %>