<p>
  Selecione as entradas do estoque deste item que devem ser postos à venda:
</p>

<p>
  <table class="sub_listing listing">
    <% @inventory_entries.each do |entry| %>
      <tr>
        <td>
          <%= check_box_tag :on_sale,
            1,
            entry.on_sale?,
            class: "inventory_entry_on_sale on_sale_#{entry.id}",
            data: {
              url: admin_inventory_item_entry_url(item_id: @item,
                                                  id: entry.id)
            } %>
        </td>
        <td>
          <%= entry.created_at %>
        </td>
        <td>
          <%= entry.quantity %> un.
        </td>
      </tr>
    <% end %>
  </table>
</p>

<%= small_button new_admin_inventory_item_entry_path(@item),
  text: "Nova entrada",
  image: 'admin/icons/plus_16.png',
  class: "round_icon"
%>
<%= small_button admin_inventory_item_entries_path(@item),
  text: "Ver estoque"
%>
