<p>
  Selecione as entradas do estoque deste item que devem ser postos à venda:
</p>

<p>
  <%= simple_form_for [:admin, @item], html: {id: "entries_on_sale"} do |f| %>
    <input type="hidden" name="redirect_to" value="<%= url_for %>" />

    <table class="sub_listing listing">
      <%= f.simple_fields_for :entries do |e| %>
        <tr>
          <td>
            <%= e.input :on_sale, label: false, wrapper: :checkbox_inline %>
          </td>
          <td>
            <%= e.object.created_at %>
          </td>
          <td>
            <%= e.object.quantity %> un.
          </td>
        </tr>
      <% end %>
    </table>
    <%= small_button "#", text: "Salvar modificações", id: "submit_link" %>
    <input type="submit" value="Salvar modificações">

    <br />
    <br />
  <% end %>
</p>

<%= small_button new_admin_inventory_item_entry_path(@item),
  text:  'Nova entrada',
  image: 'admin/icons/plus_16.png',
  id:    'add_item_entry',
  class: "round_icon"
%>
<%= small_button admin_inventory_item_entries_path(@item),
  text: "Ver estoque"
%>
