<p>
  Selecione as entradas do estoque deste item que devem ser postos à venda:
</p>

<p>
  <%= simple_form_for [:admin, @item], html: {id: "entries_on_sale"} do |f| %>
    <input type="hidden" name="redirect_to" value="<%= url_for %>" />

    <table class="entries_list sub_listing listing">
      <%= f.simple_fields_for :entries do |e| %>
        <% entry = e.object %>
        <tr>
          <td>
            <%= e.input :on_sale, label: false, wrapper: :checkbox_inline %>
          </td>
          <td>
            <%= e.object.created_at %>
          </td>
          <td>
            <%= e.object.quantity %> un.
          </td>
          <td>
            <%= link_to "Editar", edit_admin_inventory_item_entry_path(@item, entry) %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= f.submit id: "save_entries" %>

    <br />
    <br />
  <% end %>
</p>

<%= small_button 'Nova entrada', new_admin_inventory_item_entry_path(@item),
  image: 'admin/icons/plus_16.png',
  id:    'add_item_entry'
%>
<%= small_button "Ver estoque", admin_inventory_item_entries_path(@item) %>
