<% entry = @inventory_entries.first %>

<% if entry.on_sale? %>
  <p class="js_this_entry_status_on_sale">
    Este item possui apenas uma entrada no estoque (um lote)
    sendo vendido atualmente. Possui ainda <%= entry.quantity %>
    unidades em estoque.
  </p>
<% else %>
  <p class="js_this_entry_status_not_on_sale">
    Este item possui um lote no estoque, mas ele não está à venda
    neste momento. Ainda há <%= entry.quantity %> unidades no estoque. Recomece
    a venda deste item no botão abaixo.
  </p>
<% end %>

<div>
  <%= simple_form_for entry,
    url: admin_inventory_item_entry_path(@item, entry),
    html: { id: "switch_on_sale" } do |f| %>
    <%= f.input :on_sale, as: :hidden, input_html: { value: !entry.on_sale? } %>
    <input type="hidden" name="redirect_to" value="<%= url_for %>" />
    <% label = entry.on_sale? ? "Parar a venda deste item" : "Começar a venda deste item" %>
    <%= small_button label, "javascript: void(0)", id: "submit_link" %>
    <input type="submit" id="switch_on_sale" value="Salvar modificações">
  <% end %>
</div>

<br clear="both" />
<br clear="both" />
<%= small_button "Nova entrada no estoque",
  new_admin_inventory_item_entry_path(@item),
  image: 'admin/icons/plus_16.png',
  id:    'add_item_entry',
%>
