<%= render partial: "layouts/admin/nav_history",
           locals: { back_to: admin_inventory_items_path } %>

<header>
  <h1><%= @item.name %></h1>
</header>

<div class="main_container">
  <%= simple_form_for(@item, url: admin_inventory_item_path) do |f| %>

    <%= f.input :name,
          input_html: { id: "inventory_item_name" } %>

    <%= f.input :description %>

    <%= f.input :merchandising %>

    <%= f.input :reference %>

    <%= f.submit %>
    <%= t("admin.generic.or") %>
    <%= link_to t("admin.generic.cancel"), "javascript: history.back()" %>
  <% end %>
</div>