<%= view_header %>

<header>
  <h1><%= t ".title" %></h1>
</header>

<div class="main_container">
  <%= small_button t(".add_item_button"),
    new_admin_inventory_item_path,
    image: 'admin/icons/plus_16.png',
    id: "add_item"
  %>

  <br />
  <br />

  <table class="listing">
    <thead>
      <tr>
        <th><%= t ".listing.name" %></th>
        <th>Categoria</th>
        <th>Em estoque</th>
      </tr>
    </thead>
    <tbody>
    <% if @items.present? %>
      <% @items.each do |item| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to item.name, admin_inventory_item_path(item) %></td>
        <td><%= item.taxonomy.try(:name) %></td>
        <td><%= item.total_quantity %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <br />
  <%= paginate @items %>
  <br />

</div>
