<%= render "layouts/admin/nav_history" %>

<header>
  <h1><%= t ".title" %></h1>
</header>

<div class="main_container">
  <table class="listing">
    <thead>
      <tr>
        <th><%= t ".listing.name" %></th>
        <th><%= t ".listing.total_in_stock" %></th>
      </tr>
    </thead>
    <tbody>
    <% if @items.present? %>
      <% @items.each do |item| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to item.name, admin_inventory_item_path(item) %></td>
        <td><%= item.last_balance.try(:total_quantity) %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= small_button new_admin_inventory_item_path,
        text: t(".add_item_button"),
        image: 'admin/icons/plus_16.png',
        class: "round_icon" %>
</div>
