<%= view_header %>

<header>
  <% if @company_taxonomies.present? %>
    <h1><%= t ".title" %></h1>
  <% else %>
    <h1>Antes de começarmos...</h1>
  <% end %>
</header>

<div class="main_container inventory_items_index">
  <% if @company_taxonomies.blank? %>
    <%= render partial: "index_no_categories" %>
  <% elsif @items.present? %>
    <%= render partial: "index" %>
  <% else %>
    <%= render partial: "index_no_items" %>
  <% end %>
</div>
