<%= view_header back_to: admin_inventory_items_path,
                back_text: "Voltar à listagem de itens" %>

<header class="continuous_bottom">
  <div class="inline_title">
    <h1>
      <%= @item.name %>
    </h1>
    <%= small_button "Editar este item", edit_admin_inventory_item_path(@item),
      id: "edit_item",
      image: 'admin/icons/edit_16.png' %>
  </div>
  <p>
    <% if @taxonomy.present? %>
      <%= t('.category') %>: <%= raw @taxonomy.map { |e| e.name }.join(' <span class="gray_arrow">►</span> ') %>
    <% else %>
      <%= t('.undefined_category') %>.
    <% end %>
  </p>
  <% if @item.tag_list.present? %>
    <p>Etiquetas: <%= @item.tag_list %></p>
  <% end %>
</header>

<div class="main_container show_item">
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p id="alert"><%= alert %></p>
  <% end %>

  <div class="column_pane_half left">
    <div class="section current_price">

      <span class="text not_on_sale <%= "current" unless @item_on_sale %>">
        Este item não está sendo vendido online.

        <div class="reason">
          <% @reasons_why_not_on_sale.each do |reason| %>
            <div>
              <%= t(".reason") %>: <%= t(".reasons_why_not_on_sale.#{reason}") %>
            </div>
          <% end %>
        </div>
      </span>

      <span class="text on_sale <%= "current" if @item_on_sale %>">
        Vendido online atualmente por <span><%= @item.price %></span>.
      </span>
    </div>

    <% if @point_of_sale_enabled %>
      <div class="section description">
        <span class="text">
          <% if @item.entry_for_point_of_sale.present? %>
            Vendido atualmente no ponto de venda.
          <% else %>
            Não está sendo vendido no ponto de venda.
          <% end %>
        </span>
      </div>
    <% end %>

    <div class="section description">
      <% if @item.description.present? %>
        <p><b>Descrição:</b> <%= @item.description %></p>
      <% else %>
        <p>
          Sem descrição.
          <%= link_to "Crie uma", edit_admin_inventory_item_path(@item) %>.
        </p>
      <% end %>
      <% if @item.reference.present? %>
        <p> <b>Referência:</b> <%= @item.reference %> </p>
      <% end %>

      <% if @item.custom_fields.present? %>
        <p>
          <% @item.custom_fields.each do |key, value| %>
            <b><%= @item.translated_custom_fields(key) %>:</b> <%= value %><br />
          <% end %>
        </p>
      <% end %>

      <% if @item.barcode.present? || @item.reference_number.present? %>
        <p> <b>Possui código de barras ou referência.</b> </p>
      <% end %>
    </div>

    <div class="section shipping">
      <%= render "shipping_box" %>
    </div>
  </div>

  <div class="column_pane_half right">
    <div class="section inventory_entries update_on_sale">
      <h2>Estoque & vendas</h2>

      <% if @inventory_entries.size == 0 %>
        <%= render partial: "show_no_entry" %>
      <% elsif @inventory_entries.size == 1 %>
        <%= render partial: "show_one_entry" %>
      <% elsif @inventory_entries.size > 1 %>
        <%= render partial: "show_more_entries" %>
      <% end %>
    </div>

    <div class="section">
      <h2>Imagens</h2>
      <div class="subsection">
        <%= render partial: "show_images", locals: { images: @item_images } %>
      </div>
      <%= small_button "Gerenciar imagens", admin_inventory_item_images_path(@item), id: "manage_images" %>
    </div>
  </div>

  <div class="column_full">
    <p class="hint">
      Dica: não é possível excluir um item do estoque porque eles estão associados
      a pedidos e relatórios.
    </p>
  </div>
</div>
