<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_dashboard_path,
             text: t("admin.history_navigation.back.dashboard")
           } %>

<header>
  <h1><%= t ".title" %></h1>
</header>

<div class="main_container">
  <% if notice.present? %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <div class="column_pane_half left">
    <%= simple_form_for @settings, url: admin_settings_path do |s| %>
      <div class="section shipping">
        <h2><%= t ".shipping.title" %></h2>
        <%= s.input :zipcode %>
        <%= s.submit %>
      </div>
    <% end %>

    <div class="section company_contact">
      <h2><%= t ".company_contact.title" %></h2>
      <%= link_to t(".company_contact.configure"), edit_admin_company_contact_path, id: "edit_company_contact_link" %>
    </div>

    <div class="section pagseguro">
      <h2><%= t ".payment_gateway.title" %></h2>
      <%= image_tag 'admin/icons/payment_cards.png' %>
      <%= link_to t(".payment_gateway.configure"), admin_settings_payment_methods_path %>
    </div>
  </div>

  <div class="column_pane_half right">
    <%= simple_form_for @company, url: admin_settings_path do |f| %>
      <div class="section shipping">
        <h2><%= t ".company.domain" %></h2>
        <%= f.input :domain, as: :string %>

        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
