<%= view_header %>

<header>
  <h1>Estoque</h1>
</header>

<div class="main_container">
  <table class="properties">
    <tbody>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>Mercadorias cadastradas:</td>
        <td><%= @report[:total_inventory_items] %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>Total em unidades:</td>
        <td><%= @report[:total_entries] %>
        (<%= @report[:total_entries_on_sale_at_website] %> à venda no site,
        <%= @report[:total_entries_on_sale_at_pos] %> à venda no ponto de venda)
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>Valor em estoque:</td>
        <td><%= @report[:stock_value].humanize %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>Receita estimada com venda:</td>
        <td><%= @report[:stock_estimated_revenue].humanize %></td>
      </tr>
    </tbody>
  </table>
</div>
