<%= view_header %>

<header>
  <h1>Relatório de vendas</h1>
</header>

<div class="main_container">
  <table class="properties">
    <tbody>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>Vendas hoje:</td>
        <td><%= @today.humanize %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>Vendas este mês:</td>
        <td><%= @this_month.humanize %></td>
      </tr>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>Vendas últimos 30 dias:</td>
        <td><%= @last_thirty_days.humanize %></td>
      </tr>
    </tbody>
  </table>
</div>
