<% @customer_receivable = true %>
<% back_to = admin_financial_account_receivables_path %>
<% back_to = admin_customer_path(1) if @customer_receivable %>

<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: back_to
           } %>

<header>
  <% if @customer_receivable %>
    <h1>Contas a receber de John Etc</h1>
  <% else %>
    <h1>Contas a receber</h1>
  <% end %>
</header>

<div class="main_container">
  <table class="listing">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Valor</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @receivables.each do |receivable| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= receivable.description %></td>
        <td><%= receivable.due_to %></td>
        <td><%= link_to receivable.value, edit_admin_customer_account_receivable_path(receivable.customer, receivable) %></td>
        <td><%= receivable.status %></td>
        <td><%= link_to "Excluir", admin_customer_account_receivable_path(receivable.customer, receivable), class: "delete_account_receivable", method: :delete %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br />

  <%= small_button new_admin_customer_account_receivable_path(1), :text => "Nova dívida", :image => 'admin/icons/plus_16.png' %>
</div>
