<%= simple_form_for([:admin, @resource]) do |f| %>
  <%= output_error_messages(@resource) %>

  <p><%= t('.compulsory_fields') %></p>
  <fieldset class="role">
    <% Role.find_each do |role| %>
      <%= check_box_tag :role_ids,
        role.id,
        @resource.roles.include?(role),
        id: "person_role_#{role.name}",
        name: "person[role_ids][]" %>
        <%= label_tag "person_role_#{role.name}", t("activerecord.values.role.name.#{role.name}") %>
      <br />
    <% end %>
  </fieldset>

  <fieldset class="personal_info">
    <h2><%= t('.personal_info') %></h2>
    <%= f.input :email, type: :email, input_html: {}.merge(load_person_email) %>
    <%= f.input :first_name, as: 'string' %>
    <%= f.input :last_name, as: 'string' %>
    <%= f.input :password,
      hint: "Deixe em branco para não alterar a senha.",
      input_html: { autocomplete: :off }
    %>
    <%= f.input :password_confirmation,
      input_html: { autocomplete: :off }
    %>
    <%= f.input :social_security_number, as: 'string' %>
  </fieldset>

  <fieldset class="contact_info">
    <div class="fields_with_illustration">
      <h2><%= t(".phone_numbers") %></h2>
      <div class="inline_inputs">
        <div class="label">
          <%= label_tag :person_home_area_number,
            t("activerecord.attributes.person.home_number") %>
        </div>

        <%= f.input :home_area_number,   as: 'string', wrapper_html: { class: "input_with_label smaller" }, label: false %>
        <%= f.input :home_number,        as: 'string', wrapper_html: { class: "input_without_label big" }, label: false %>
      </div>

      <div class="inline_inputs">
        <div class="label">
          <%= label_tag :person_mobile_area_number,
            t("activerecord.attributes.person.mobile_number") %>
        </div>

        <%= f.input :mobile_area_number, as: 'string', wrapper_html: { class: "input_with_label smaller" }, label: false %>
        <%= f.input :mobile_number,      as: 'string', wrapper_html: { class: "input_without_label big" }, label: false %>
      </div>
    </div>
  </fieldset>

  <fieldset class="address">
    <div class="fields_with_illustration">
      <h2><%= t('.address') %></h2>

      <%= f.fields_for :addresses do |address| %>
        <%= render partial: "shared/address_form", locals: { address: address } %>
      <% end %>
    </div>
  </fieldset>

  <fieldset>
    <%= f.input :receive_newsletter, wrapper: :checkbox_inline %>
  </fieldset>

  <div class="submit">
    <%= f.submit t(".save"), id: 'submit' %> ou
    <%= link_to t('admin.people.form.cancel'), "javascript: history.back()" %>
  </div>

<% end %>
