<%= view_header %>

<header>
  <h1><%= t('.title') %></h1>
</header>

<div class="main_container">
  <div class="index_header">
    <div class="buttons">
      <%= small_button "Novo cliente",
        new_admin_person_path,
        image: 'admin/icons/plus_16.png',
        id: "add_item"
      %>
    </div>
  </div>

  <table class="listing">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |person| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td>
            <%= link_to "#{person.first_name} #{person.last_name}",
              admin_person_path(person) %>
          </td>
          <td>
            <%= person.email %>
          </td>
          <td>
            <%= person.roles.pluck(&:name).join(", ") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <div>
    <%= paginate @resources %>
  </div>
</div>
