<% content_for :history_navigation do %>
  <%= back(super_admin_root_path) %>
<% end %>

<h1><%= t(".title") %></h1>

<table class="listing">
  <thead>
    <tr>
      <th><%= t(".fields.name") %></th>
      <th><%= t(".fields.path") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to theme.name, edit_super_admin_theme_path(theme) %></td>
        <td><%= theme.path %></td>
        <td><%= t(".fields.public_#{theme.public}") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to t(".new_theme"), new_super_admin_theme_path, id: "new_theme" %>
