<%= render "layouts/admin/nav_history" %>

<header>
  <h1>Estoque</h1>
</header>

<div class="main_container">
  <table class="listing">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Referência</th>
      </tr>
    </thead>
    <tbody>
  <% if @goods %>
    <% @goods.each do |good| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to good.name, admin_inventory_good_path(good) %></td>
        <td><%= good.reference %></td>
        <% # <td><%= link_to 'Excluir', admin_inventory_good_path(good), confirm: 'Are you sure?', method: :delete ></td> %>
      </tr>
    <% end %>
  <% end %>
    </tbody>
  </table>

  <br />

  <%= small_button new_admin_inventory_good_path, :text => "Adicionar item", :image => 'admin/icons/plus_16.png' %>
</div>