<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_inventory_goods_path,
             text: "Voltar ao estoque"
           } %>

<header>
  <h1><%= @good.name %></h1>
</header>
  <%= render partial: "shared/good_images" %>
  <div>
    <%= link_to "Gerenciar imagens", admin_inventory_good_images_path(@good) %> 
  </div>



<div class="main_container">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Descrição:</b>
    <%= @good.description %>
  </p>

  <p>
    <b>Referência:</b>
    <%= @good.reference %>
  </p>

  <%= small_button admin_inventory_good_balances_path(@good), text: "Ver estoque deste item" %>

  <%= small_button edit_admin_inventory_good_path(@good), text: "Editar" %>
</div>
