<header>
  <h1><%= @good.name %></h1>

</header>

<div class="main_container">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Nome:</b>
    <%= @good.name %>
  </p>

  <p>
    <b>Descrição:</b>
    <%= @good.description %>
  </p>

  <p>
    <b>Referência:</b>
    <%= @good.reference %>
  </p>


  <%= link_to 'Editar', edit_admin_inventory_good_path(@good) %>
</div>