<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_inventory_goods_path
           } %>

<header>
  <h1><%= @good.name %></h1>
</header>

<div class="main_container">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Descrição:</b>
    <%= @good.description %>
  </p>

  <p>
    <b>Referência:</b>
    <%= @good.reference %>
  </p>

  <%= small_button admin_inventory_good_balances_path(@good), text: "Ver estoque deste item" %>

  <%= small_button edit_admin_inventory_good_path(@good), text: "Editar" %>
</div>
