<%= render partial: "layouts/admin/nav_history",
           locals: {
             back_to: admin_inventory_goods_path,
             text: "Voltar à listagem do estoque"
           } %>

<header class="continuous_bottom">
  <div class="inline_title">
    <h1>
      <%= @good.name %>
    </h1>
    <%= small_button edit_admin_inventory_good_path(@good), text: "Editar este item", :image => 'admin/icons/edit_16.png' %>
  </div>
  <p>
    Vestuário
    <span class="gray_arrow">►</span>
    Masculino
    <span class="gray_arrow">►</span>
    Camisetas
  </p>
</header>

<div class="main_container show_item">
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p id="alert"><%= alert %></p>
  <% end %>

  <div class="column_pane_half left">
    <div class="section current_price" data-observe-callback="good.price">

      <span class="text not_on_sale <%= "current" unless @good.price.present? %>">
        Este item não está sendo vendido atualmente.
      </span>
      <span class="text on_sale <%= "current" if @good.price.present? %>">
        Vendido atualmente por
        <span data-observe="good.price"><%= @good.price %></span>.
      </span>
    </div>

    <div class="section description">
      <% if @good.description.present? %>
        <p><b>Descrição:</b> <%= @good.description %></p>
      <% else %>
        <p>
          Sem descrição.
          <%= link_to "Crie uma", edit_admin_inventory_good_path(@good) %>.
        </p>
      <% end %>
      <% if @good.reference.present? %>
        <p> <b>Referência:</b> <%= @good.reference %> </p>
      <% end %>
    </div>

    <div class="section shipping">
      <h2>Frete</h2>
      <p>
        <div>
        Peso da caixa: 6Kg
        <table cellspacing="0">
          <tr>
            <td valign="top" width="130">Dimensões da caixa: </td>
            <td>
              25cm de comprimento<br />
              15cm de largura<br />
              5cm de altura
            </td>
          </tr>
        </table>
        </div>
      </p>
    </div>
    <div class="section taxonomy">
      <h2>Categorias</h2>
      <div class="category_first_row">
        <span class="gray_arrow">►</span>
        Vestuário

        <div class="child_category">
          <span class="gray_arrow">►</span>
          Masculino

          <div class="child_category">
            <span class="gray_arrow">►</span>
            Camisetas

            <div class="child_category item_name">
              <span class="gray_arrow">►</span>
              <%= @good.name %> (<%= link_to "Editar", "" %>)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column_pane_half right">
    <div class="section inventory_entries update_on_sale">
      <h2>Estoque & vendas</h2>

      <% if @inventory_entries.size == 0 %>
        <%= render partial: "show_no_entry" %>
      <% elsif @inventory_entries.size == 1 %>
        <%= render partial: "show_one_entry" %>
      <% elsif @inventory_entries.size > 1 %>
        <%= render partial: "show_more_entries" %>
      <% end %>
    </div>

    <div class="section">
      <h2>Imagens</h2>
      <div class="subsection">
        <%= render partial: "show_images", locals: { images: @item_images } %>
      </div>
      <%= small_button admin_inventory_good_images_path(@good), text: "Gerenciar imagens", id: "manage_images" %>
    </div>
  </div>

  <div class="managing_buttons">

  </div>
</div>
