<%= render partial: "layouts/admin/nav_history",
           locals: { 
             back_to: admin_inventory_goods_path,
             text: "Voltar ao estoque"
           } %>

<header>
  <h1><%= @good.name %></h1>
</header>

<div class="main_container section">

  <div class="thumbs_gallery">
    <% 2.times do |m| %>
      <% 5.times do |t| %>
        <% t += 1 %>
        <div class="box image">
          <%= image_tag "store/temp/product_#{t}_170x127.jpg", width: 60 %>
          <% if m == 0 && t == 2 %>
            <div class="cover">Capa</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= link_to admin_inventory_good_images_path(@good) do %>
      <div class="box add">
      </div>
    <% end %>
  </div>

  <div>
    <%= link_to "Gerenciar imagens", admin_inventory_good_images_path(@good) %> 
  </div>

</div>

<div class="main_container">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Descrição:</b>
    <%= @good.description %>
  </p>

  <p>
    <b>Referência:</b>
    <%= @good.reference %>
  </p>

  <%= small_button admin_inventory_good_balances_path(@good), text: "Ver estoque deste item" %>

  <%= small_button edit_admin_inventory_good_path(@good), text: "Editar" %>
</div>
