<div class="header">
  <div class="container">
    <div class="title">
      Ponto de venda
    </div>

    <div class="right">
      <a {{bind-attr href="signOutPath"}} class="log_out">Sair</a>
    </div>
  </div>
</div>

<div class="global">
  <div class="global_container">

    <nav class="navigation">
      <div class="navigation_padding">
        <ul>
          <li>
            <a href="#" {{action "newCart"}} class="new_cart">Novo pedido</a>
          </li>
          {{#if cartHasItems}}
          <li>
            {{#link-to "carts.new" class="current_cart"}}
              Pedido atual
              {{#if cartStatusMessage}}
                <div class="global_cart_status">({{cartStatusMessage}})</div>
              {{/if}}
            {{/link-to}}
          </li>
          {{/if}}
          <li>
            {{#link-to "orders.index" class="all_orders"}}Pedidos{{/link-to}}
          </li>
          <li>
            {{#link-to "cashier.index" class="cashier"}}Caixa{{/link-to}}
          </li>

          {{#if noConnectionMessage}}
            <li class="global_warning">
              {{#link-to "orders.index" class="no_connection"}}
                {{noConnectionMessage}}
              {{/link-to}}
            </li>
          {{/if}}

          {{#if connectionIsBackMessage}}
            <li class="global_success">
              {{#link-to "orders.index" class="connection_is_back"}}
                {{connectionIsBackMessage}}
              {{/link-to}}
            </li>
          {{/if}}
        </ul>

      </div>
    </nav>
    <section class="main_content">
      <div id="main">
        <div class="main_container">
          {{outlet}}
        </div>
      </div>
    </section>
  </div>
</div>
