<!DOCTYPE html>
<html>
<head>
  <title>Store Admin Panel</title>
  <%= stylesheet_link_tag "admin/application", :media => "all" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
  <%= render partial: "admin/shared/i18n" %>
  <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
</head>
<body class="<%= params[:controller].gsub(/\//, "_") %> <%= params[:action] %>">

  <div id="global">
    <div class="global_container">
      <div id="navigation">
        <div class="navigation_container">
          <%= render "layouts/admin/navigation" %>
        </div>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render "shared/context_menu_placeholder" %>
  <%= render "shared/html_templates/spinning_wheel" %>
  <%= render "shared/html_templates/page_loading" %>
  <input type="hidden" id="current_user_name" value="<%= @current_user.name %>" />
</body>
</html>
