<!DOCTYPE html>
<html>
<head>
  <title>Store Admin Panel</title>
  <%= stylesheet_link_tag "admin/application", :media => "all" %>
  <%= javascript_include_tag "admin_manifest" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
  <%= render partial: "admin/shared/i18n" %>
</head>
<body class="<%= params[:controller].gsub(/\//, "_") %> <%= params[:action] %>">

  <p class="alert"><%= alert %></p>

  <div id="global">
    <div class="global_container">
      <div id="navigation">
        <div class="navigation_container">
          <%= render "layouts/admin/navigation" %>
        </div>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render "shared/context_menu_placeholder" %>
  <%= render "shared/html_templates/spinning_wheel" %>
  <%= render "shared/html_templates/page_loading" %>
</body>
</html>
