<!DOCTYPE html>
<html>
<head>
  <title>Store Admin Panel</title>
  <%= stylesheet_link_tag "admin/application", :media => "all" %>
  <%= javascript_include_tag "admin_manifest" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].gsub(/\//, "_") %> <%= params[:action] %>">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div id="global">
    <div class="global_container">
      <div id="navigation">
        <div class="navigation_container">
          <%= render "layouts/admin/navigation" %>
        </div>
      </div>

      <div id="main">
          <%= yield %>
      </div>
    </div>
  </div>

  <% # hidden divs used by JS %>
  <div id="context_menu_placeholder">
    <div class="context_menu_placeholder_container">
    </div>
  </div>

  <div id="loading_timer" style="display: none">
    <div class="loading_box" style="background-image: url('<%= asset_path("admin/loading.gif") %>')">
      <div class="text normal">
        Carregando...
      </div>
      <div class="text timeout">
        O processo está demorado. Por favor, tente novamente.
        <br />
        <br />
        Abortando em 3 segundos.
      </div>
    </div>
  </div>
  <%= image_tag "admin/loading.gif", style: "display: none" %>

</body>
</html>
