<!DOCTYPE html>
<html>
<head>
  <title>Aust Lojas</title>
  <%= stylesheet_link_tag "marketing/application_manifest", :media => "all" %>
  <%= javascript_include_tag "marketing/application_manifest" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].gsub(/\//, "_") + " " + params[:action] %> marketing_page">

  <div id="header">
    <div class="header_container">
      <div class="row">
        <div class="span5 title">
          <h1>
            <%= image_tag "marketing/aust_logo.png" %>
          </h1>
          <p>
            Sua porta para a internet
          </p>
        </div>
        <div class="span7 links">
          <!--
          <ul>
            <li>
              <%= link_to "Planos", "" %>
            </li>
            <li>
              <%= link_to "Contato", "" %>
            </li>
          </ul>
          -->
        </div>
      </div>

    </div>
  </div>

  <div class="central_body">
    <div id="merchan">
      <div class="merchan_container">
        <div class="main_page_central_transitional_banners cycle-slideshow"
          data-cycle-timeout="16000"
          data-cycle-fx="scrollHorz"
          data-cycle-swipe="true"
          data-cycle-slides="div.slide">

          <!-- empty element for pager links -->
          <div class="cycle-pager"></div>

          <div class="slide">
            <div class="merchan_image">
              <%= image_tag "marketing/merchan_admin.jpg" %>
            </div>
          </div>

          <div class="slide">
            <div class="merchan_image">
              <%= image_tag "marketing/merchan_crowd.jpg" %>
            </div>
          </div>

          <div class="slide">
            <div class="merchan_image">
              <%= image_tag "marketing/merchan_money.jpg" %>
            </div>
          </div>

          <!--
          <div class="slide">
            <div class="merchan_image">
              <%= image_tag "marketing/aust_sales_merchan.jpg" %>
            </div>
          </div>
          -->
        </div>

      </div>
    </div>

    <div id="main">
      <div class="features">
        <div class="feature">
          <h2>Controle de estoque</h2>
          <%= image_tag "marketing/feature_inventory.png" %>
          <p>
            Venda de mercadorias cessa automaticamente caso preciso.
          </p>
        </div>

        <div class="feature">
          <h2>Gestão de temas</h2>
          <%= image_tag "marketing/feature_themes.jpg" %>
          <p>
            Escolha temas prontos ou opte por um design
            customizado.
          </p>
        </div>

        <div class="feature">
          <h2>Segurança</h2>
          <%= image_tag "marketing/feature_safety.jpg" %>
          <p>
            Criptografia SSL, a mesma usada em sites de bancos.
          </p>
        </div>

        <div class="feature">
          <h2>Suporte</h2>
          <%= image_tag "marketing/feature_support.jpg" %>
          <p>
            Nosso sucesso depende do seu.
            Bom atendimento é nossa meta.
          </p>
        </div>

      </div>

      <div class="main_container">
        <div class="screenshot row">
          <div class="span5 images">
            <%= image_tag "marketing/aust_mkt_store.jpg", class: "admin" %>
          </div>
          <div class="span5 text">
            <h1>De olho no futuro</h1>

            <p>
              Em 2012, o faturamento total em e-commerce no Brasil atingiu a
              marca dos 23 bilhões de reais. Esse número vem crescendo em
              média 30% nos últimos 5 anos.
            </p>
            <!-- http://www.ebit.com.br/webshoppers -->
            <p>
              Para empresas de qualquer tamanho,
              ter uma loja na internet em breve será como ter um
              telefone. Micro negócios podem competir de igual para igual com
              grandes empresas.
            </p>

            <p>
              Modernize sua empresa e tenha um vendedor trabalhando
              24h por dia, 7 dias por semana.
            </p>
          </div>
        </div>
      </div>

      <div class="main_container">
        <div class="nfe row">
          <div class="image">
            <%= image_tag "marketing/nfe_brasil.jpg", class: "admin" %>
          </div>
          <div class="text">
            <p>
              <strong>Nota Fiscal Eletrônica:</strong>
              conexão com a Secretaria da Fazenda do seu estado automaticamente
              após cada venda.
            </p>
          </div>
        </div>
      </div>

      <div class="main_container beta">
        <div class="row">
          <div class="span11">
            <h2>Inscreva-se</h2>
            <p>
              Receba um convite para usar o Aust. Entre seu email abaixo
              para entrar na lista de espera. Estamos liberando convites
              gradualmente para novos clientes.
            </p>

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="http://austapp.us7.list-manage.com/subscribe/post?u=62a1f517788a8ef31207a53ee&amp;id=2f84d0c7d7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                <div id="mce-responses" class="classclear">
                  <div class="response" id="mce-error-response" style="display:stylenone"></div>
                  <div class="response" id="mce-success-response" style="displayisplay:none"></div>
                </div>

                <div class="email_field mc-field-group">
                  <label for="mce-EMAIL">Seu email: </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  <br />
                  <span class="hint">
                    Não compartilharemos seu email com terceiros.
                  </span>

                </div>
                <div class="submit">
                  <input type="submit" value="Enviar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </form>
            </div>

            <!--End mc_embed_signup-->
          </div>
      </div>
    </div>
  </div>

  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45496106-1', 'austapp.com');
      ga('send', 'pageview');

    </script>
  <% end %>
</body>
</html>
