<!DOCTYPE html>
<html>
<head>
  <title>Venda offline</title>
  <%= stylesheet_link_tag    "offline/application_manifest", :media => "all" %>
  <%= javascript_include_tag "offline/application_manifest" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.images = {
      "delete": "<%= image_path('pos/icons/delete.png') %>"
    };
    window.routes = {
      exit_path: '<%= @current_user.point_of_sale? ? destroy_admin_user_session_url : admin_root_url %>'
    };
  </script>
</head>
<body>

</body>
</html>
