<!DOCTYPE html>
<html>
<head>
  <title>Venda offline</title>
  <%= stylesheet_link_tag    "offline/application_manifest", :media => "all" %>
  <%= javascript_include_tag "offline/application_manifest" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script type="text/javascript">
    window.routes = {
      "exit_path": "<%= admin_root_url %>"
    }
  </script>
</body>
</html>
