<!DOCTYPE html>
<html>
<head>
  <title><%= @company.name %> Store</title>
  <%= stylesheet_link_tag "store/application_manifest", :media => "all" %>
  <%= stylesheet_link_tag "/themes/#{@theme.nature}/#{@theme.path}/style", :media => "all" %>

  <%= javascript_include_tag "store/application_manifest" %>
  <%= csrf_meta_tags %>
  <%= render 'layout/store/pingdom_rum' if Rails.env.production? %>
</head>
<body class="<%= params[:controller].gsub(/\//, "_") + " " + params[:action] %>">

  <% if session[:preview_theme_id] %>
    <%= render "layouts/store/theme_preview_warning" %>
  <% end %>

  <% # this uses the themes' Mustache files if present or %>
  <% # simply loaded the normal ERB files %>
  <%= render_theme_layout(self) %>

  <%= render "store/shared/hidden_resources" %>
  <%= render "shared/html_templates/spinning_wheel" %>

  <%= render "layouts/store/google_analytics" %>
</body>
</html>
