<!DOCTYPE html>
<html>
<head>
  <title><%= @company.name %> Store</title>
  <%= stylesheet_link_tag "store/application_manifest", :media => "all" %>
  <%= stylesheet_link_tag "/themes/#{@theme.path}/style", :media => "all" %>

  <%= javascript_include_tag "store/application_manifest" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].gsub(/\//, "_") + " " + params[:action] %>">

  <% # this uses the themes' Mustache files if present or %>
  <% # simply loaded the normal ERB files %>
  <%= render_theme_layout(self) %>

  <%= render "store/shared/hidden_resources" %>
  <%= render "shared/html_templates/spinning_wheel" %>

</body>
</html>
