<!DOCTYPE html>
<html>
<head>
  <title><%= @company.name %> Store</title>
  <%= stylesheet_link_tag "store/application_manifest", :media => "all" %>
  <%= stylesheet_link_tag "/themes/#{@company.store_theme}/style", :media => "all" %>

  <%= javascript_include_tag "store/application_manifest" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].gsub(/\//, "_") + " " + params[:action] %>">

  <div id="header">
    <div class="title">
      <h1><%= @company.name %></h1>
      <p>Caring about your workplace.</p>
    </div>
    <%= render "shared/top_cart_summary" %>
  </div>

  <div id="global">
    <div id="navigation">
      <%= render "layouts/store/navigation" %>
    </div>
    <div id="main">
      <div class="main_container">
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
        <div id="error" data-observe="error"></div>
        <%= yield %>
      </div>
    </div>
    <div id="complementary_content">
      <div class="complementary_content_container">
        <%= image_tag "store/temp/banner_side_1_200x.jpg", width: 200 %>
      </div>
    </div>
    <div id="footer">

    </div>
  </div>

  <%= render "store/shared/hidden_resources" %>
  <%= render "shared/html_templates/spinning_wheel" %>

</body>
</html>
