<!DOCTYPE html>
<html>
<head>
  <title><%= @company.name %> Store</title>
  <%= stylesheet_link_tag "store/application_manifest", :media => "all" %>
  <%= stylesheet_link_tag "/themes/#{@theme.path}/style", :media => "all" %>

  <%= javascript_include_tag "store/application_manifest" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller].gsub(/\//, "_") + " " + params[:action] %>">

  <div id="header">
    <div class="title">
      <h1><%= @company.name %></h1>
      <p>Caring about your workplace.</p>
    </div>
    <%= render "shared/top_cart_summary" %>
  </div>

  <div id="global"
    class="<%= @theme.feature_as_class(:vertical_taxonomy_menu) if @layout_constraints.should_show_vertical_taxonomy_menu? %>">
    <div id="navigation">
      <%= render "layouts/store/navigation" %>
    </div>

    <% if @theme.has_feature?(:vertical_taxonomy_menu) %>
      <% if @layout_constraints.should_show_vertical_taxonomy_menu? %>
        <%= render "store/theme_features/taxonomy_as_vertical_menu" %>
      <% end %>
    <% end %>

    <div id="main">
      <div class="main_container">
        <%= render "store/shared/error_messages" %>
        <%= yield %>
      </div>
    </div>

    <div id="complementary_content">
      <div class="complementary_content_container">
        <div class="ad_banners">
          <% @banners[:all_pages_right].each do |banner| %>
            <% if banner.url.present? %>
              <%= link_to(image_tag(banner.image.url, title: banner.title, width: 200), banner.url) %>
            <% else %>
              <%= image_tag(banner.image.url, title: banner.title, width: 200) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <footer class="global">
    <%= render "store/shared/page_footer" %>
  </footer>

  <%= render "store/shared/hidden_resources" %>
  <%= render "shared/html_templates/spinning_wheel" %>

</body>
</html>
