<!DOCTYPE html>
<html>
<head>
  <title><%= @company.name %> Store</title>
  <%= stylesheet_link_tag    "store/application_manifest", :media => "all" %>
  <%= javascript_include_tag "store/application_manifest" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header">
    <div class="title">
      <h1><%= @company.name %></h1>
      <p>Caring about your workplace.</p>
    </div>
    <div class="cart">
      <div class="background">
        Seu carrinho está vazio.
      </div>
    </div>
  </div> 

  <div id="global">
    <div id="navigation">
      <%= render "layouts/store/navigation" %> 
    </div>
    <div id="main">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
          
      <div class="main_container">
        <%= yield %>
      </div>
    </div>
    <div id="complementary_content">
      <%= image_tag "store/temp/banner_side_1_200x.jpg", width: 200 %>
    </div>
    <div id="footer">

    </div>
  </div>

</body>
</html>
