<!DOCTYPE html>
<html>
<head>
  <title>Editor the temas</title>
  <%= stylesheet_link_tag "theme_editor/application", :media => "all" %>

  <script type="text/javascript">
    var env     = '<%= Rails.env %>',
        themeId = '<%= @theme.id %>';
  </script>
  <%= javascript_include_tag "theme_editor/application" %>
  <%= airbrake_javascript_notifier %>
</head>
<body>

</body>
</html>
